.objetivo__titulo {
  text-align: justify;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #FFFFFF;
}


.objetivo__texto{ 
   color: #FFFFFF;
   text-align: justify;
}